Bài 4:

In [93]:
def cau_a(danh_sach):
    sinh_vien_ho_nguyen = [sv for sv in danh_sach if sv.split(" ")[0].lower() == "nguyen"]
    if sinh_vien_ho_nguyen:
        print("sinh vien họ nguyễn:")
        for i in sinh_vien_ho_nguyen:
            print(f"{i}")
    else :
        print("không có sinh viên nào họ nguyễn")

In [94]:
def cau_b(danh_sach):
    ho = {}
    for i in danh_sach:
        if i.split(" ")[0].lower() not in ho:
            ho[str(i.split(" ")[0].lower())] = "1"
    print(f"Tổng số họ trong danh sách là: {len(ho)}")

In [95]:
def cau_c(danh_sach):
    sinh_vien_ho_a_t = [sv for sv in danh_sach if sv.split(" ")[-1][0].lower() in ['a', 't']]
    if sinh_vien_ho_a_t:
        print("sinh vien có tên bắt đầu bằng chữ 'A' hoặc 'T':")
        for i in sinh_vien_ho_a_t:
            print(f"{i}")
    else :
        print("không có sinh viên nào có tên bắt đầu bằng chữ 'A' hoặc 'T':")

In [96]:
def ctl_1(n,danh_sach):
    for i in range(n):
        ho_ten = input(f"Nhập họ và tên của sinh viên {i+1}: ")
        danh_sach.append(ho_ten)
    print(" ")
    cau_a(danh_sach)
    print(" ")
    cau_b(danh_sach)
    print(" ")
    cau_c(danh_sach)

In [100]:
n = int(input("Nhập số lượng sinh viên: "))
danh_sach = []
ctl_1(n,danh_sach)

Nhập số lượng sinh viên:  3
Nhập họ và tên của sinh viên 1:  Nguyen van A
Nhập họ và tên của sinh viên 2:  nguyen hoang hung
Nhập họ và tên của sinh viên 3:  hoang van hung

sinh vien họ nguyễn:
Nguyen van A
nguyen hoang hung

Tổng số họ trong danh sách là: 2

sinh vien có tên bắt đầu bằng chữ 'A' hoặc 'T':
Nguyen van A


Bài 2:

In [91]:
def ctl_2(A, B):
    C = []
    i, j = 0, 0 
    while i < len(A) and j < len(B):
        if A[i] <= B[j]:
            C.append(A[i])
            i += 1
        else:
            C.append(B[j])
            j += 1

    while i < len(A):
        C.append(A[i])
        i += 1

    while j < len(B):
        C.append(B[j])
        j += 1

    return C

In [92]:
A = [1, 3, 5, 7]
B = [2, 4, 6, 8, 10]
C = ctl_2(A, B)
print("Ta có dãy C:", C)

Ta có dãy C: [1, 2, 3, 4, 5, 6, 7, 8, 10]

In [1]:
import pandas as pd

In [3]:
def getDataframeSize(players: pd.DataFrame):
    print(players.shape)
    return [players.shape[0],players.shape[1]]

In [4]:
import pandas as pd

data = {
    "player_id": [846, 749, 155, 583, 388, 883, 355, 247, 761, 642],
    "name": ["Mason", "Riley", "Bob", "Isabella", "Zachary", "Ava", "Violet", "Thomas", "Jack", "Charlie"],
    "age": [21, 30, 28, 32, 24, 23, 18, 27, 33, 36],
    "position": ["Forward", "Winger", "Striker", "Goalkeeper", "Midfielder", "Defender", "Striker", "Striker", "Midfielder", "Center-back"],
    "team": ["RealMadrid", "Barcelona", "ManchesterUnited", "Liverpool", "BayernMunich", "Chelsea", "Juventus", "ParisSaint-Germain", "ManchesterCity", "Arsenal"]
}

# Tạo DataFrame
players_df = pd.DataFrame(data)

# Hiển thị DataFrame
print(players_df)

   player_id      name  age     position                team
0        846     Mason   21      Forward          RealMadrid
1        749     Riley   30       Winger           Barcelona
2        155       Bob   28      Striker    ManchesterUnited
3        583  Isabella   32   Goalkeeper           Liverpool
4        388   Zachary   24   Midfielder        BayernMunich
5        883       Ava   23     Defender             Chelsea
6        355    Violet   18      Striker            Juventus
7        247    Thomas   27      Striker  ParisSaint-Germain
8        761      Jack   33   Midfielder      ManchesterCity
9        642   Charlie   36  Center-back             Arsenal

In [17]:
players_df.loc[players_df['player_id'] == 846,['name','age']]

    name  age
0  Mason   21

In [18]:
print(players_df)

   player_id      name  age     position                team
0        846     Mason   21      Forward          RealMadrid
1        749     Riley   30       Winger           Barcelona
2        155       Bob   28      Striker    ManchesterUnited
3        583  Isabella   32   Goalkeeper           Liverpool
4        388   Zachary   24   Midfielder        BayernMunich
5        883       Ava   23     Defender             Chelsea
6        355    Violet   18      Striker            Juventus
7        247    Thomas   27      Striker  ParisSaint-Germain
8        761      Jack   33   Midfielder      ManchesterCity
9        642   Charlie   36  Center-back             Arsenal

In [23]:
print(players_df['age'][1])

30

In [29]:
hung = []
for i in range(len(players_df)):
    hung.append(players_df['age'][i] * 2)
hungkhon = { "ngu" : hung}

In [31]:
hungga = pd.DataFrame(hungkhon)

In [33]:
hungga

   ngu
0   42
1   60
2   56
3   64
4   48
5   46
6   36
7   54
8   66
9   72